.left{
    float: left;
    margin: 10px;
    margin-left: 0;
    list-style-type: none;
    margin-right: 30px;
    max-width: 60px;
    font-size: 40px;
}
.left a{
    text-decoration: none; 
    
     
}
.footer{
   display: grid;
   justify-content: center;
}
